{
  "presets": [
    [
      "babel-preset-expo",
      {
        "jsxImportSource": "@welldone-software/why-did-you-render"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ],
    "transform-remove-strict-mode"
  ],
  "env": {
    "production": {
      "plugins": ["react-native-paper/babel"]
    }
  }
}
